/*
	Hacks
	Fix javascript - make simpler, one css style, one span
*/

#keyword-span, #date-span, #number-span {
	display: none;
	font: 300 36px Georgia, serif;
}

/* End */




/* Main */

body {
	background-color: #fff;
	color: #444;
}

#container {
	margin: 0 auto;
	padding: 64px 0;
	width: 1140px;
}

#form {
	font: 400 36px Georgia, serif;
	line-height: 1.4em;
}

#form input, #form select {
	border: none;
	border-bottom: 1px dashed #3498db;
	color: #3498db;
	display: inline-block;
	font: inherit;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#form input:hover, #form select:hover {
	color: #2980b9;
	cursor: pointer;
}

#headlines ol {
	font: 300 24px Georgia, serif;
	line-height: 2em;
	margin-bottom: 0;
}

#headlines ol li a {
	color: #444;
	text-decoration: none;
}

#headlines ol li a:hover {
	text-decoration: underline;
}
