/*
	Hacks
	Fix javascript - make simpler, one css style, one span
*/

#keyword-span, #date-span, #number-span {
	display: none;
	font: 300 48px Georgia, serif;
}

/* End */




/* Main */

body {
	background-color: #fff;
	color: #444;
}

#container {
	margin: 0 auto;
	padding: 64px 0;
	width: 1140px;
}

#form {
	font: 400 48px Georgia, serif;
	line-height: 1.4em;
}

#form input, #form select {
	border: none;
	border-bottom: 1px dashed #2980b9;
	color: #2980b9;
	display: inline-block;
	font: inherit;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#form input:hover, #form select:hover {
	color: #2980b9;
}

#form button {
	background-color: #2980b9;
	border: none;
	color: #fff;
	font: 400 24px "Helvetica Neue", Arial, sans-serif;
	margin: 0.75em 0 1em 0;
	padding: 0.5em 0.75em;
	text-transform: uppercase;
}

#headlines ul {
	font: 300 2em Georgia, serif;
	line-height: 2em;
}

#headlines ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* End main */