@import "reset";

$text: #333;
$blue: #3498db;
$font: "pragmatica-web", sans-serif;


.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.form-fix {
	display: none;
	font: 700 2.25em $font;
}


body {
	background-color: white;
	color: $text;
	font-size: 16px;
}

.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 4em 2em;
}

header {
	h1 {
		font: 700 2.25em $font;
		line-height: 1em;
	}

	select, input {
		background-color: white;
		border: none;
		border-bottom: 1px dashed white;
		color: $blue;
		display: inline-block;
		font: inherit;
		outline: none;
		vertical-align: baseline;
		-moz-appearance: none;
		-webkit-appearance: none;

		&:focus {
			// outline: 1px solid red;
			border-bottom: 1px dashed $blue;
		}
	}

	#section, #date {
		cursor: pointer;
	}

	#number {
		cursor: text;
		min-width: 0.6em;
	}
}

.news {
	color: #777;
	margin-top: 1em;
	
	ol {
		font: 400 1.25em $font;
		list-style: none;

		li {
			margin-bottom: 0.5em;
		}
	}

	.headline {
		color: $text;
		cursor: pointer;
		display: block;
		font: 400 1.4em $font;
		line-height: 1.2em;
		padding: 0.2em 0;

		&:hover {
			// color: $blue;
		}
	}

	article {
		line-height: 1.5em;
		margin: 0.5em 0 1em 0;

		div { margin-bottom: 0.25em; }

		p {
			color: #777;
			line-height: 1.4em;
			margin-bottom: 0.25em;
		}
	}

	a {
		color: #777;
		display: block;
		margin-top: 0.75em;

		&:hover {
			color: $blue;
		}

		&:focus {
			color: #2980b9;
			outline: none;
		}
	}
}

footer {
	background-color: #eee;
	max-width: 768px;
	padding: 1em 2em;

	.inner {
		margin: 0 auto;
		max-width: 1076px;
	}

	a {
		color: #777;
		font: 400 1.25em $font;

		&:hover {
			color: $blue;
		}
	}
}

@media screen and (max-width: 720px) {
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}
}