@import "reset";


$text: #333;
$blue: #3498db;
$dark-blue: #2676ab;
$font: "Helvetica Neue", Arial, sans-serif;


.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.form-span {
	display: none;
	font: 300 2.625em $font;
}


body {
	background-color: $dark-blue;
	font-size: 16px;
}

header {
	background-color: $blue;

	.inner {
		margin: 0 auto;
		max-width: 1076px;
		padding: 4em 2em 2em 2em;
	}

	h1 {
		color: white;
		font: 300 2.625em $font;
		line-height: 1.2em;
	}

	// reset select and input?
	select, input {
		background: transparent;
		border: none;
		border-bottom: 1px dashed $dark-blue;
		color: $dark-blue;
		display: inline-block;
		font: inherit;
		line-height: inherit;
		outline: none;
		vertical-align: baseline;
		-moz-appearance: none;
		-webkit-appearance: none;

		&:focus {
			// border-bottom-color
		}
	}

	select { cursor: pointer; }

	input {
		cursor: text;
		min-width: 0.6em;
	}
}

.news {
	background-color: #f7f7f7;

	.loading {
		margin: 0 auto;
		max-width: 1076px;
		padding: 1em 2em;
	}
	
	li {
		background: #eee;

		.inner {
			margin: 0 auto;
			max-width: 1076px;
			padding: 0 2em;
		}
	}

	.headline {
		color: #555;
		cursor: pointer;
		display: inline-block;
		font: 400 1.75em $font;
		line-height: 1.2em;
		padding: 0.75em 0;

		&:hover { color: $blue; }
	}

	article {
		padding-bottom: 1.3125em;

		p {
			color: #777;
			font: 300 1.25em $font;
			line-height: 1.4em;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}

		a {
			color: #777;
			text-decoration: underline;

			&:hover { color: $blue;	}
		}
	}

	.read-more {
		color: $blue;
		display: block;
		font: 300 1.25em $font;
		margin-top: 0.75em;

		&:hover {
			color: $dark-blue;
		}

		&:focus {
			color: $dark-blue;
			outline: none;
		}
	}
}

footer {
	color: #fff;
	font: 300 1.25em $font;

	.inner {
		margin: 0 auto;
		max-width: 1076px;
		padding: 1.05em 1.6em;
	}

	a {
		color: #fff;

		&:hover { color: $blue; }
	}
}

@media screen and (max-width: 720px) {
	body { font-size: 14px; }

	.news article p {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media screen and (max-width: 480px) {
	body { font-size: 12px;	}
}