@import "reset";

$text: #333;
$blue: #3498db;
$dark-blue: #2980b9;

$font-sans: adelle-sans, sans-serif;
$font-serif: adelle-sans, serif;


@mixin reset-form {
	border: none;
	border-bottom: 1px dashed $blue;
	color: $blue;
	display: inline-block;
	font: inherit;
	outline: none;
	vertical-align: baseline;
	-moz-appearance: none;
	-webkit-appearance: none;
}


.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#section-span, #date-span, #number-span {
	display: none;
	font: 600 36px "jaf-facitweb", sans-serif;
}


body {
	background-color: white;
	color: $text;
}

.container {
	margin: 0 auto;
	max-width: 67.25em;
	padding: 4em 2em;
}

header {
	font: 600 36px "jaf-facitweb", sans-serif;

	select, input { @include reset-form; }
	select:hover { cursor: pointer; }
	input:hover { cursor: text; }
}

.news ol {
	font: 400 28px "jaf-facitweb", sans-serif;
	
	.headline {
		font-weight: 400;

		&:hover {
			color: $blue;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	article {
		p + a {
			font-size: .7em;
			width: 85%;
			-webkit-column-count: 2;
			line-height: 1.3;
		}
	}
}

.overlay {
	background: rgba(0,0,0,0.1);
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

article {
	background: #fff;
	bottom: 0;
	font-family: "jaf-facitweb", sans-serif;
	font-size: 18px;
	line-height: 1.333em;
	padding: 4em 6em;
	position: absolute;
	right: 0;
	top: 0;
	width: 30em;
	z-index: 999;

	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}