@import "reset";

$text: #333;
$blue: #3498db;
$font: "Helvetica Neue", Arial, sans-serif;


.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.form-fix {
	display: none;
	font: 700 36px $font;
}


body {
	background-color: white;
	color: $text;
}

.container {
	margin: 0 auto;
	max-width: 67.25em;
	padding: 4em 2em;
}

header {
	font: 700 36px $font;
	line-height: 1.2em;

	select, input {
		border: none;
		border-bottom: 1px dashed $blue;
		color: $blue;
		display: inline-block;
		font: inherit;
		outline: none;
		vertical-align: baseline;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	select { cursor: pointer; }
	input { cursor: text; }
}

.news {
	ol {
		font: 400 20px $font;
		list-style: none;
		margin-top: 1em;

		li {
			margin-bottom: 0.5em;
		}
	}

	.headline {
		cursor: pointer;
		font: 400 28px $font;
		line-height: 1.3em;

		&:hover {
			color: $blue;
		}
	}

	article {
		line-height: 1.5em;
		margin: 0.5em 0 1em 0;
	}

	p {
		font: 400 20px $font;
		line-height: 1.4em;
		margin-bottom: 0.25em;
	}

	a {
		color: $blue;
	}
}