/*
	Hacks
	Fix javascript - make simpler, one css style, one span
*/

#section-span, #date-span, #number-span {
	display: none;
	font: 300 2.25em Georgia, serif;
}

/* End */




/* Main */

body {
	background-color: #fff;
	color: #333;
}

hr {
	/* Hack for beatiful horizontal rows */
	border: 0;
	border-top: 1px solid #dfdfdf;
}

#container {
	margin: 0 auto;
	max-width: 67.25em;
	padding: 4em 2em;
}

#form {
	font: 400 2.25em calluna, serif;
	line-height: 1.4em;
}

#form input, #form select {
	border: none;
	border-bottom: 1px dashed #3498db;
	color: #3498db;
	display: inline-block;
	font: inherit;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#form input:hover, #form select:hover {
	color: #2980b9;
	cursor: pointer;
}

#headlines ol {
	font: 400 1.5em calluna, serif;
	line-height: 1.4em;
	list-style-position: inside;
	margin: 1.333em 0 0;
	padding: 0;
}

.headline {
	margin-bottom: 0.5em;
}

.headline:last-child {
	margin-bottom: 0;
}

.headline > a {
	color: #333;
	display: block;
	padding: 0.333em;
	text-decoration: none;
	-webkit-transition: 0.2s ease-out background-color;
}

.headline a:hover {
	color: #3498db;
	background: #f3f3f3;
	text-decoration: underline;
}

.headline > div {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	display: none;
	font-size: .75em;
	padding: 5px 10px;
	width: 85%;
}

.headline div p {
	margin: 0;
}

.summary--footer {
	font-size: .8em;
}

.read-more-link {
	color: #9f9f9f;
	text-align: right;
	text-decoration: none;
}

@media screen and (max-width: 45em) {
	body { font-size: 14px; }
}

@media screen and (max-width: 30em) {
	body { font-size: 12px; }
}