// @import "normalize";


$background: white;
$text: #333;
$blue: #3498db;
$dark-blue: #2980b9;

$font-sans: "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, serif;


@mixin reset-form {
	border: none;
	border-bottom: 1px dashed $blue;
	color: $blue;
	display: inline-block;
	font: inherit;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}


#section-span, #date-span, #number-span {
	display: none;
	font: 400 2.4em $font-serif;
}


body {
	background-color: $background;
	color: $text;
	-webkit-transition: color 0.2s;
}

.container {
	margin: 0 auto;
	max-width: 67.25em;
	padding: 4em 2em;
}

header {
	font: 400 2.25em $font-serif;
	line-height: 1.4em;

	select, input {
		@include reset-form;
		text-align: center;

		&:hover {
			// color: $dark-blue;
			cursor: pointer;
		}
	}

	input:hover {
		cursor: text;
	}
}

.news ol {
	font: 400 1.5em $font-sans;
	line-height: 1.4em;
	margin-top: 1.333em;

	li {
		padding-bottom: 0.75em;

		.headline {

		}

		a {
			color: $text;
			text-decoration: none;

			&.inactive {
				color: #999;
			}

			&:hover {
				color: $blue;
				text-decoration: underline;
			}
		}
	}
}

article p {
	font-size: .7em;
	width: 85%;
	-webkit-column-count: 2;
	line-height: 1.3;
	-webkit-column-gap: 3.5em;
}

@media screen and (max-width: 45em) {
	body { font-size: 14px; }
}

@media screen and (max-width: 30em) {
	body { font-size: 12px; }
}