/* Own cssCode */
body {
	background-color:#FFF; /* Colors are placeholders */
	font-family:Georgia, "Times New Roman", Times, serif;
}
.container {
	margin: 0 auto;
	width: 900px;
}

.header {
	height: 50px;
	background-color:ecf0f1; 
	color:#000; /* Colors are placeholders */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
	line-height: 50px;
	padding: 0 20px;
}
.header:after {
	clear: both;
	content: "";
	display: table;
}
.header p, .header a {
	float: left;
	margin: 0;
}
.header a {
	margin-left: 30px;
	color:#000;
	text-decoration:none;
}
.words {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 900px;
	color: #000; /* Colors are placeholders */
	padding: 10px;
	height: 600px;
}
.footer {
	font-size:15px;
	font-weight:bold;
	padding: 15px;
	background-color:ecf0f1;
	color:#000;    /* Colors are placeholders */
}